<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
	<system.webServer>
	    <handlers>
		    <add name ="smwHandler" path ="/handler" verb ="GET" type="lab01.IISHandler1"/>
		    <add name ="SKM_GET" path ="/skm_get" verb ="GET" type="lab01.SKM_GET"/>
		    <add name ="SKM_POST" path ="/skm_post" verb ="POST" type="lab01.SKM_POST"/>
		    <add name ="SKM_PUT" path ="/skm_put" verb ="PUT" type="lab01.SKM_PUT"/>
		    <add name ="SKM_TASK4" path ="/task4" verb ="POST" type="lab01.SKM_TASK4"/>
			<add name="SKM_TASK5" path="/task5" verb="GET,POST" type="lab01.SKM_TASK5" />
			<add name="SKM_TASK6" path="/task6" verb="GET,POST" type="lab01.SKM_TASK6" />
			<add name="websockets" path="*.websocket" verb="GET" type="lab01.SKM_TASK7" />
		</handlers>
	</system.webServer>
</configuration>