@model Lab8a.Model.Phone

<tr>
    <td>
        @Html.DisplayFor(item => item.Name)
    </td>
    <td>
        @Html.DisplayFor(item => item.Number)
    </td>
    <td><p><a href="update/@Model.Id">Edit</a></p></td>
    <td><p><a href="delete/@Model.Id">Delete</a></p></td>
</tr>
