
@{
    ViewBag.Title = "Config";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>BSTU/Config</h1>
    <div>
        @Html.ActionLink("BSTU", "/Index", "BSTU")<br />
    </div>
</body>
</html>

